### Лаборотрна робота 5
#### Методи кластерного аналізу.
###### Верзун Поліни КМ-81

In [1]:
import copy
import math
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
M = []
for i in range(11):
    M.append([])
    for j in range(7):
        M[i].append(0)
M0 = copy.deepcopy(M)
M0[0] = [0,1,1,1,1,1,0]
M0[10] = [0,1,1,1,1,1,0]
for i in range(1,10):
    M0[i][0]=1
    M0[i][6]=1
M8=copy.deepcopy(M0)
M8[5]=[0,1,1,1,1,1,0]
M4 =[[0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 1, 0, 1],
 [0, 0, 0, 1, 0, 0, 1],
 [0, 0, 1, 0, 0, 0, 1],
 [0, 1, 0, 0, 0, 0, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1]] 
M3 = copy.deepcopy(M8)
for i in range(11):
    M3[i][0]=0
M3[0][0]=1
M3[5][0]=1
M3[10][0]=1
M6 = copy.deepcopy(M8)
for i in range(1,5):
    M6[i][6]= 0
M6[0][6]=1
M5 = copy.deepcopy(M6)
for i in range(1,5):
    M5[i+5][0]= 0
M5[10][0]=1
M5[0][6]=1
M7=copy.deepcopy(M0)
for i in range(1,10):
    M7[i][0]=0
    M7[i][5]=1
    M7[i][6]=0
for i in range(1,6):
    M7[10][i]=0
for i in range(1,3):
    M7[i][0]= 1
M7[5]=[0, 0, 0, 1, 1, 1, 1]
M7[0][5]=0
M7[10][6]=0
M9=copy.deepcopy(M8)
for i in range(1,5):
    M9[i+5][0]= 0

M1=[[0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1, 0, 1],
 [0, 0, 0, 1, 0, 0, 1],
 [0, 0, 1, 0, 0, 0, 1],
 [0, 1, 0, 0, 0, 0, 1],
 [1, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1]]
M2=[[0, 0, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 0, 1, 0],
 [1, 0, 0, 0, 0, 0, 1],
 [1, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 1],
 [1, 1, 1, 1, 1, 1, 1]]
M2[0][0]=1
M2[10][6]=1
ML=[M0,M1,M2,M3,M4,M5,M6,M7,M8,M9]

# Завдання 1
Задано деяку невідому цифру Х, необхідно її розпізнати. Наприклад

In [2]:
X=[[0, 1, 1, 1, 1, 1, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0],
 [1, 0, 1, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 1, 1, 0, 1, 1, 0]]

## Алгоритм 1. Класичний метод.

In [3]:
def distance(alpha, beta, metric):
    res=[]
    if metric=='E':
        n=2
    elif metric=='M':
        n=int(input("Введіть r для для обчислення:"))
    elif metric=="H":
        n=1
    if metric !='C':
        for m in beta:
            d=0
            for i in range(7):
                temp=0
                for j in range(11):
                    if alpha[j][i]!=m[j][i]:temp+=1
                d+=temp**n
            res.append(pow(d,1/n))
    else:
        for m in beta:
            d=[]
            for i in range(7):
                temp=0
                for j in range(11):
                    if alpha[j][i]!=m[j][i]:temp+=1
                d.append(temp)
            res.append(max(d))
    return res

In [4]:
E=distance(X, ML, 'E')
M=distance(X, ML, 'M')
H=distance(X, ML, 'H')
C=distance(X, ML, 'C')


print(f"""За метрикою Евкліда  найменьша відстань {round(min(E),4)} і це відстань до цифри {E.index(min(E))}
За метрикою Мінковського найменьша відстань {round(min(M),4)} і це відстань до цифри {M.index(min(M))}
За метрикою Хеммінга найменьша відстань {round(min(H),4)} і це відстань до цифри {H.index(min(H))}
За метрикою Чебишева найменьша відстань {round(min(C),4)} і це відстань до цифри {C.index(min(C))}""")

Введіть r для для обчислення:7
За метрикою Евкліда  найменьша відстань 5.9161 і це відстань до цифри 5
За метрикою Мінковського найменьша відстань 4.0803 і це відстань до цифри 5
За метрикою Хеммінга найменьша відстань 13.0 і це відстань до цифри 5
За метрикою Чебишева найменьша відстань 4 і це відстань до цифри 5

Відповідь по всіх метриках однакова і цифра яку ми розпізнавали це цифра 5

Ще декілька додаткових тестів:

In [5]:
X8=[[0, 1, 0, 0, 1, 1, 0],
 [1, 0, 0, 0, 0, 1, 1],
 [0, 0, 1, 0, 1, 0, 1],
 [1, 1, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 1, 0, 0, 1, 1, 0],
 [1, 0, 0, 0, 1, 1, 0],
 [1, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1],
 [1, 0, 0, 0, 0, 0, 1],
 [0, 1, 1, 1, 1, 1, 0]]

X2=[[1, 0, 1, 0, 1, 0, 0],
 [0, 1, 0, 1, 0, 1, 0],
 [1, 1, 0, 1, 0, 0, 1],
 [1, 0, 0, 0, 0, 0, 1],
 [1, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 1, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0],
 [1, 0, 1, 0, 0, 0, 1],
 [0, 1, 1,0, 1, 1, 1]]

X1=[[0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1]]

E1=distance(X1, ML, 'E')
M1=distance(X1, ML, 'M')
H1=distance(X1, ML, 'H')
C1=distance(X1, ML, 'C')


print(f"""За метрикою Евкліда  найменьша відстань {round(min(E1),4)} і це відстань до цифри {E1.index(min(E1))}
За метрикою Мінковського найменьша відстань {round(min(M1),4)} і це відстань до цифри {M1.index(min(M1))}
За метрикою Хеммінга найменьша відстань {round(min(H1),4)} і це відстань до цифри {H1.index(min(H1))}
За метрикою Чебишева найменьша відстань {round(min(C1),4)} і це відстань до цифри {C1.index(min(C1))}""")

E8=distance(X8, ML, 'E')
M8=distance(X8, ML, 'M')
H8=distance(X8, ML, 'H')
C8=distance(X8, ML, 'C')


print(f"""За метрикою Евкліда  найменьша відстань {round(min(E8),4)} і це відстань до цифри {E8.index(min(E8))}
За метрикою Мінковського найменьша відстань {round(min(M8),4)} і це відстань до цифри {M8.index(min(M8))}
За метрикою Хеммінга найменьша відстань {round(min(H8),4)} і це відстань до цифри {H8.index(min(H8))}
За метрикою Чебишева найменьша відстань {round(min(C8),4)} і це відстань до цифри {C8.index(min(C8))}""")

E2=distance(X2, ML, 'E')
M2=distance(X2, ML, 'M')
H2=distance(X2, ML, 'H')
C2=distance(X2, ML, 'C')


print(f"""За метрикою Евкліда  найменьша відстань {round(min(E2),4)} і це відстань до цифри {E2.index(min(E2))}
За метрикою Мінковського найменьша відстань {round(min(M2),4)} і це відстань до цифри {M2.index(min(M2))}
За метрикою Хеммінга найменьша відстань {round(min(H2),4)} і це відстань до цифри {H2.index(min(H2))}
За метрикою Чебишева найменьша відстань {round(min(C2),4)} і це відстань до цифри {C2.index(min(C2))}""")

Введіть r для для обчислення:4
За метрикою Евкліда  найменьша відстань 2.6458 і це відстань до цифри 1
За метрикою Мінковського найменьша відстань 1.6266 і це відстань до цифри 1
За метрикою Хеммінга найменьша відстань 7.0 і це відстань до цифри 1
За метрикою Чебишева найменьша відстань 1 і це відстань до цифри 1
Введіть r для для обчислення:11
За метрикою Евкліда  найменьша відстань 6.3246 і це відстань до цифри 8
За метрикою Мінковського найменьша відстань 3.3186 і це відстань до цифри 8
За метрикою Хеммінга найменьша відстань 16.0 і це відстань до цифри 8
За метрикою Чебишева найменьша відстань 3 і це відстань до цифри 8
Введіть r для для обчислення:8
За метрикою Евкліда  найменьша відстань 5.099 і це відстань до цифри 2
За метрикою Мінковського найменьша відстань 4.0039 і це відстань до цифри 2
За метрикою Хеммінга найменьша відстань 10.0 і це відстань до цифри 2
За метрикою Чебишева найменьша відстань 4 і це відстань до цифри 2

## Алгоритм 2. Нейронна мережа Хопфілда.
Перероблюємо всі образи з формату матриць у формат векторів:

In [6]:
def vector(M):
    temp=[]
    for i in range(11):
        for j in range(7):
            if M[i][j]==0:
                temp.append(-1)
            else: 
                temp.append(1)
    return temp
ML=list(map(vector,ML))
X=vector(X)

Створюємо та навчаємо мережу Хопфілда:

In [7]:
W=np.zeros((77, 77))
for m in ML:
    temp=np.array([m]).transpose().dot(np.array([m]))
    W+=temp
for i in range(77):
    W[i][i]=0
W/=77

Тепер передаємо Нейроній мережі образ Х для розпізнавання:

In [8]:
Z=[]
Z=np.sign(np.dot(W,np.array([X]).transpose()))
print(Z.reshape(11,7)==np.array(ML[9]).reshape(11,7))
Z.reshape(11,7)

[[ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]]

array([[-1.,  1.,  1.,  1.,  1.,  1., -1.],
       [ 1., -1., -1., -1., -1., -1.,  1.],
       [ 1., -1., -1., -1., -1., -1.,  1.],
       [ 1., -1., -1., -1., -1., -1.,  1.],
       [ 1., -1., -1., -1., -1., -1.,  1.],
       [-1.,  1.,  1.,  1.,  1.,  1., -1.],
       [-1., -1., -1., -1., -1., -1.,  1.],
       [-1., -1., -1., -1., -1., -1.,  1.],
       [-1., -1., -1., -1., -1., -1.,  1.],
       [-1., -1., -1., -1., -1., -1.,  1.],
       [-1.,  1.,  1.,  1.,  1.,  1., -1.]])

Наш образ Х нейроная мережа Хопфілда розпізнала з першого разу як образ числа 9
## Завдання 2. Провести кластеризацію даних із DataSet

### A)

In [9]:
df = pd.read_csv('A6.txt', header=None, names=[f"Parameter {x}" for x in range(1,13)])
df

,Parameter 1,Parameter 2,Parameter 3,Parameter 4,Parameter 5,Parameter 6,Parameter 7,Parameter 8,Parameter 9,Parameter 10,Parameter 11,Parameter 12
0,2.6788,61.106,75.185,-30.352,-44.657,68.8770,9.0039,-146.00,-110.19,40.084,66.553,46.508
1,3.2027,58.643,71.932,-29.441,-42.619,65.9870,7.3984,-148.90,-111.40,38.913,65.759,45.858
2,3.7741,53.845,66.298,-27.367,-39.387,60.7390,7.2469,-146.68,-111.49,36.670,62.780,42.566
3,3.9706,45.033,57.026,-23.050,-34.572,51.6650,10.4730,-133.53,-109.52,31.389,54.539,33.816
4,3.1782,31.931,44.454,-16.020,-28.676,38.7960,18.7520,-105.31,-104.72,21.665,38.859,18.029
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,66.0830,40.447,-29.711,-53.508,47.759,5.5011,-16.8890,270.00,317.57,293.410,190.200,57.670
4996,68.0200,40.340,-31.742,-54.257,49.773,4.5210,-17.5330,278.53,329.22,305.960,197.570,59.240
4997,70.0030,38.781,-35.269,-54.135,52.208,2.2803,-18.6850,284.42,340.53,317.790,203.380,60.905
4998,72.1900,35.887,-40.336,-53.306,55.202,-1.1743,-20.4110,288.39,351.97,329.110,208.060,62.782
4999,74.6060,32.223,-46.401,-52.129,58.626,-5.3658,-22.5310,291.64,363.86,340.420,212.340,64.915

In [10]:
k1=5
k2=7
X1 = df.values[::]
X1 = np.nan_to_num(X1)
kmeans1 = KMeans(init = "k-means++", n_clusters=k1)
y1=kmeans1.fit_predict(X1)
kmeans2 = KMeans(init = "k-means++", n_clusters=k2)
y2=kmeans2.fit_predict(X1)

Кластерізація для к = 5 та розмірності точок 12:

In [11]:
df['cluster']=y1
df.groupby("cluster").count()

,Parameter 1,Parameter 2,Parameter 3,Parameter 4,Parameter 5,Parameter 6,Parameter 7,Parameter 8,Parameter 9,Parameter 10,Parameter 11,Parameter 12
cluster,,,,,,,,,,,,
0,2900,2900,2900,2900,2900,2900,2900,2900,2900,2900,2900,2900
1,1505,1505,1505,1505,1505,1505,1505,1505,1505,1505,1505,1505
2,119,119,119,119,119,119,119,119,119,119,119,119
3,313,313,313,313,313,313,313,313,313,313,313,313
4,163,163,163,163,163,163,163,163,163,163,163,163

Кластерізація для к = 7 та розмірності точок 12:

In [12]:
df['cluster']=y2
df.groupby("cluster").count()

,Parameter 1,Parameter 2,Parameter 3,Parameter 4,Parameter 5,Parameter 6,Parameter 7,Parameter 8,Parameter 9,Parameter 10,Parameter 11,Parameter 12
cluster,,,,,,,,,,,,
0,196,196,196,196,196,196,196,196,196,196,196,196
1,2841,2841,2841,2841,2841,2841,2841,2841,2841,2841,2841,2841
2,81,81,81,81,81,81,81,81,81,81,81,81
3,95,95,95,95,95,95,95,95,95,95,95,95
4,196,196,196,196,196,196,196,196,196,196,196,196
5,138,138,138,138,138,138,138,138,138,138,138,138
6,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453

### Б) Кластеризація даних трьох головних факторів

In [13]:
X2=df[['Parameter 1','Parameter 2','Parameter 3']]
kmeans11 = KMeans(init = "k-means++", n_clusters=k1)
y11=kmeans1.fit_predict(X2)
kmeans21 = KMeans(init = "k-means++", n_clusters=k2)
y21=kmeans21.fit_predict(X2)

Кластерізація для к = 5 та розмірності точок 3:

In [14]:
df['cluster']=y11
df.groupby("cluster").count()

,Parameter 1,Parameter 2,Parameter 3,Parameter 4,Parameter 5,Parameter 6,Parameter 7,Parameter 8,Parameter 9,Parameter 10,Parameter 11,Parameter 12
cluster,,,,,,,,,,,,
0,1493,1493,1493,1493,1493,1493,1493,1493,1493,1493,1493,1493
1,3101,3101,3101,3101,3101,3101,3101,3101,3101,3101,3101,3101
2,139,139,139,139,139,139,139,139,139,139,139,139
3,132,132,132,132,132,132,132,132,132,132,132,132
4,135,135,135,135,135,135,135,135,135,135,135,135

Кластерізація для к = 7 та розмірності точок 3:

In [15]:
df['cluster']=y21
df.groupby("cluster").count()

,Parameter 1,Parameter 2,Parameter 3,Parameter 4,Parameter 5,Parameter 6,Parameter 7,Parameter 8,Parameter 9,Parameter 10,Parameter 11,Parameter 12
cluster,,,,,,,,,,,,
0,2933,2933,2933,2933,2933,2933,2933,2933,2933,2933,2933,2933
1,97,97,97,97,97,97,97,97,97,97,97,97
2,94,94,94,94,94,94,94,94,94,94,94,94
3,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429,1429
4,86,86,86,86,86,86,86,86,86,86,86,86
5,265,265,265,265,265,265,265,265,265,265,265,265
6,96,96,96,96,96,96,96,96,96,96,96,96

Кластеризація для розмірность точок 3 та розмірності точок 12 дуже схожа, особливо коли кількість кластерів дорівннює 7, але все одно кластери не співпадають.